<!DOCTYPE html>
<html>
<head>
  <title>TrainSmart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">TrainSmart</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li id="sign-out">
              <%= link_to current_user.email, destroy_user_session_path, method: :delete %>
          </li>
        <%- else -%>
          <li>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <span class="email">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </span>

              <span class="password">
                <%= f.password_field :password, autocomplete: "current-password" %>
              </span>

              <span class="sign-in">
                <%= f.submit "Sign in" %>
              </span>
            <% end %>
            <%- end -%>
          </li>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
